h1 {
  background-color: #4A0079;
  color: white;
  display: flex;
  justify-content: flex-start;
  font-family: 'DM Serif Display', serif;
  padding: 3%;

}

head{
  background-color: #4A0079;

}

#logo {
  float: left;s
}

nav {
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #4A0079;
  padding: 15px;
  position: fixed;

}

nav ul {
  list-style-type: none;
  color: white;
  flex-direction: row-reverse;
}

nav li {
  display: inline;
  float: right;
}

nav a {
  padding: 24px 30px;
  height: 50px;
  text-decoration: none;
  font-size: 27px;
  color: white;
}

nav a:hover {
  background-color: #FDF902;
  color: #4A0079;
  transition-duration: .4s;
}

#name{
  font-size: 30px;
  color: white;
  float: left;
}

img {
  height:70px;
}

/* .header {

  width: 100%;
  display:flex;
  flex-direction: row;
} */

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

#exitbutton {
  position: fixed;
  display: flex;
  align-items:flex-end;
  margin-left: 1100px;
  margin-top: 470px;
  width: 10%;

}

/* #firefly{
  display:flex;
  flex-direction: row;
} */
