* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

h1 {
  background-color: #4A0079;
  color: white;
  display: flex;
  justify-content: flex-start;
  font-family: 'DM Serif Display', serif;
  padding: 3%;
  border: 10px solid yellow;
}

img {
  height:70px;
  border: 10px solid;
}

header {
  display:inline;
  width: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

#exitbutton {
  position: fixed;
  display: flex;
  align-items:flex-end;
  margin-left: 1100px;
  margin-top: 470px;
  width: 10%;

}
